{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>All Plants</h1>
        <div>
            {% for plant in plants %}
                <div>
                    <h2>{{ plant.common_name }}</h2>
                    <div>
                        <p>Genus: {{ plant.genus }}</p>
                        <p>Species: {{ plant.species }}</p>
                        <p>Conservation status: {% if plant.endangered %}Endangered{% else %}Not Endangered{% endif %}</p>
                        <p>Plant type: {{ plant.plant_type }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}