<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Botanical Atlas</title>
</head>
<body>
    <nav>
      <div>
        <div>
          <a href="{% url 'home' %}">Botanical Atlas</a>
          <div>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'growth_conditions_create' %}">Add Growth Condition</a></li>
            <li><a href="{% url 'growth_conditions_list' %}">Growth Conditions</a></li>
            <li><a href="{%url 'plants_create'%}">Add Plant</a></li>
            <li><a href="{% url 'index' %}">All Plants</a></li>
          </div>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>