<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <title>Document</title>
</head>
<body>
    <nav>
      <div>
        <div>
          <a href="{% url 'home' %}">Botanical Atlas</a>
          <div>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{%url 'plants_create'%}">Add Plant</a></li>
            <li><a href="{% url 'index' %}">All Plants</a></li>
          </div>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>